/* I changed all of the color to show cruel(not only hot but also seems like cool) summer mood  */

:root {
    --primary-bg-color: #f4f4f4;
    --text-color: #8e52b7;
    --main-bg-color: #00f2ff;
    --main-text-color: #ffffff;
    --main-btn-bg-color: #ff732d;
  }
  /* I added another font for my mood */

  body,
  h1 {
      font-family: "Edu AU VIC WA NT Guides", cursive;
      font-optical-sizing: auto100;
      font-weight: <400>;
      font-style: normal;
      font-size: 20px;
    }
  
  p,
  ul {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Arial", sans-serif;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Add additional styles as needed */
  
  /* Create a container for the main content */
  .container {
    max-width: 1000px;
    width: 100%;
    padding: 10px;
  }
  
  /* Header styling */
  header {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    padding: 10px 0;
    text-align: center;
    width: 100%;
  }
  
  /* Navigation styling */
  nav {
    margin-top: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: var(--text-color);
  }
  
  /* Media player styling */
  /* I studied and implemented code to ensure that the media player adjusts according to the screen size. */
  .media-player {
    padding-top: 58%;
    position: relative;
  }
  .media-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .media-player video {
    max-width: 100%;
  }
  
  .custom-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 10px;
    width: 100%;
  }
  
  .custom-controls button {
    background-color: var(--main-btn-bg-color);
    color: var(--main-text-color);
    border: none;
    padding: 8px 12px;
    /* I added Watermelon png to show summer mood If user click the special buttons */
    cursor:url('https://img.icons8.com/?size=100&id=3oZSqVzWy9HH&format=png&color=000000'),auto;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  .progress-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    margin-top: 10px;
    overflow: hidden;
  }
  
  .progress-bar span {
    display: block;
    height: 100%;
    background-color: var(--main-bg-color);
    width: 0;
    transition: width 0.3s ease;
  }
  
  /* Footer styling */
  footer {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    text-align: center;
    padding: 10px 0;
    width: 100%;