body {
  /* I made Colored background body and grid system for body */
  background-color: #1a120b;
  display: grid;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  font-size: 2rem;
  align-items: center;
}

h2 {
  background-color: lightgreen;
  text-align: center;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Same grid system but diffrent background color between Q&A */
p {
  background-color: lightblue;
  text-align: center;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#box1 {
  background-color: lightblue;
}

#box2 {
  background-color: lightgreen;
}
