body {
  display: flex;
  /* padding: 40px */
}
p {
  border: 1px solid red;
  width: 200px;
  /* min_height: minimum height is ~~ but it will expand if the content is over then the minimum */
  /* min-height: 50 px; */
  width: 300px;
  height: 150px;
  /* horizentaly center */
  text-align: center;
  /* vertically center: need to cerculate, [total height - padding] */
  line-height: 50px;
  background-color: rgb(157, 209, 251);
  margin: auto;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 10px;
  /* padding: 10px; */
}

span {
  font-weight: bold;
  /* display: none; <- display none to (hover, click) visible in java script */
  /* display: block; */
}
